/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "Inter-Variable", sans-serif;
  font-variation-settings: "wght" var(--textwght);
  background-image: var(--gradient-horizontal), var(--gradient-vertical),
    var(--gradient-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  inline-size: var(--width);
  font-family: "PressStart2P", monospace;
  min-block-size: clamp(327px, 50vh, 372px);
  background-color: var(--background-color);
  border: solid 2px #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 98px auto 96px;
}

.logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__heading {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  inline-size: var(--main-width);
  margin-inline: auto;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 50px;
}

.card {
  background-color: var(--background-color);
  border: solid 2px #000000;
}

.card__title {
  font-size: 18px;
  padding: 4px 10px;
  min-height: 30px;
}

.card__img__container {
  position: relative;
  max-width: var(--width);
  width: 100%;
  aspect-ratio: 1 / 1;
}

.label {
  position: absolute;
  right: 25px;
  top: 27px;
  font-family: "PressStart2P", monospace;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0 var(--label-color), -1px -1px 0 var(--label-color),
    1px -1px 0 var(--label-color), -1px 1px 0 var(--label-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--label-color))) or
  (-webkit-text-stroke: 1px var(--label-color)) {
  .label {
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
    text-shadow: none;
  }
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  box-sizing: border-box;
}

.card__whitepaper__img {
  filter: grayscale(50%);
}

.card__troubles__img {
  filter: saturate(400%);
}

.card__ideal__img {
  filter: hue-rotate(0.1turn);
}

.card__beneath__img {
  filter: invert(100%);
}

.card__strategy__img {
  filter: sepia(100%);
}

.card__dificulties__img {
  filter: blur(1rem);
}

.card__now_img {
  filter: hue-rotate(0.25turn) blur(0.1rem) contrast(50%);
}

.card__text__container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  overflow: auto;
}

.card__text {
  font-size: 18px;
}

.card__butons {
  display: flex;
  padding: 0 25px 25px;
  justify-content: end;
  gap: 7px;
}

.button {
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  color: var(--button-color);
}

.card__icon-button {
  padding: 0;
  width: 39px;
  height: 38px;
  border: none;
  background: none;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.like-icon {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.countour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-hover);
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--heart-hover);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked {
  animation: heart__scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background: none;
  border: 2px solid #000000;
}

.button__text {
  font-family: "PressStart2P", monospace;
  font-size: 14px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000000;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000000;
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

button:hover {
  cursor: pointer;
}

.button:hover:before {
  transform: translateX(0);
}

.save__section {
  margin: 0 auto 100px;
  width: 335px;
}

.save {
  width: 100%;
  height: 55px;
  padding: 0;
  margin: 0;
  border: 2px solid #000000;
}

.save__icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.save__text {
  font-family: "PressStart2P", monospace;
  font-size: 14px;
  mix-blend-mode: difference;
}

.save__dialog {
  width: 353px;
  padding: 30px;
  border: 2px solid #000000;
  color: var(--button-color);
  background-color: var(--button-color);
}

.save__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.save__dialog__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-block-end: 30px;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  mix-blend-mode: difference;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 150%;
  mix-blend-mode: difference;
}

.close__button {
  background: none;
  border: 2px solid #000000;
  width: 100%;
  height: 38px;
}

@media (width <= 375px) {
  .save {
    margin: 50px auto 100px;
    width: 306px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .save__icon {
    width: 28px;
    height: 28px;
  }

  .save__dialog {
    padding: 30px 40px;
  }
}
